*.suo
*.dll
*.pdb
*.xml
*.exe
*.exe.config
*.cache
*.resources
*.manifest
*.FileListAbsolute.txt
TemporaryGeneratedFile*
*.tlog
*.log
*.obj
*.juser
*.aps
*.pchi
*.ipch
*.exp
*.lib
*.user
*.sdf
*.res
README.md
*.png
*.bmp
Thumbs.db
*.force
*.pch
*.pyc
*.idb
*.ilk
*.opensdf
*.VC.db
*.VC.opendb
*.iobj
*.ipdb

*.h5
*.npy
*.pkl
*.csv

.vs
bin
obj